################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs

/Core_Github/.vs/Core_Github
/Core_Github/Core_Github/obj
